{% extends 'base.html' %}

{% block content %}


<div class="page-wrapper blogpage2">
  <!-- Preloader -->
  <div class="preloader"></div>
  <!-- Preloader -->


  <!-- Page_banner end -->
  <section class="breadcrumb_sec">
    <div class="container">
      <div class="row">
        <div class="blog_txt">
          <h1 class="wow fadeInUp animated title_animate"> About Us</h1>
          <h3 class="wow fadeInUp animated titlep_animate"> Building A Community of Fitness Athletic</h3>
        </div>
      </div>
    </div>
    <p class="breadcrumb1"><span> Home / About Us </span></p>
  </section>
  <!-- Page_banner end -->

  <!-- about start-->
  <section class="blog_main_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about_img"> <img class="img-responsive" src="assets/images/about_png.png" alt=""> </div>
        </div>
        <div class="col-md-6">
          <div class="inner_about_con">
            <h1>About gymfit</h1>
            <p>A gym is a club, building, or large room, usually containing special equipment, where people go to do physical exercise and get fit. ... Gym is the activity of doing physical exercises in a gym, especially at school</p>
              <p>Gyfit | Cloud Gym Software is designed after consulting with fitness industry experts and in depth research on day to day operational management requirements of gyms. Gymate provides powerful software solution for clubs to enabling integrated management of all the gym areas. With Gymate, you can manage Inquiry & Membership Management, Payroll, Employee Management & HR, Schedule Management & Tracking, Sales & Marketing Management, Income Expense Management, Accounting & Taxation, Access Control Integration, Asset Management, Retail Point of Sale</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about end-->


  <!-- why choose us end-->

</div>

{% endblock %}