{% extends 'base.html' %}

{% block content %}


<div class="page-wrapper blogpage2">
  <!-- Preloader -->
  <div class="preloader"></div>
  <!-- Preloader -->


  <!-- Page_banner end -->
  <section class="breadcrumb_sec">
    <div class="container">
      <div class="row">
        <div class="blog_txt">
          <h1 class="wow fadeInUp animated title_animate"> About Us</h1>
          <h3 class="wow fadeInUp animated titlep_animate"> Building A Community of Fitness Athletic</h3>
        </div>
      </div>
    </div>
    <p class="breadcrumb1"><span> Home / About Us </span></p>
  </section>
  <!-- Page_banner end -->

  <!-- about start-->
  <section class="blog_main_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about_img"> <img class="img-responsive" src="assets/images/about_png.png" alt=""> </div>
        </div>
        <div class="col-md-6">
          <div class="inner_about_con">
            <h1>About gymfit</h1>
            <p>Cras at cursus lorem, ac blandit leo. Morbi pulvinar orci dui, vitae laoreet arcu ultricies at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.tempus.</p>
            <p>Fusce dapibus pellentesque pharetra. Phasellus turpis nibh, sagittis quis sollicitudin eget, sollicitudin eget sem. Suspendisse sodales bibendum tellus in rhoncus. Quisque non pellentesque urna, at sodales est. In metus urna, cursus sed porttitor eu, faucibus pulvinar mi.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about end-->

  <!-- why choose us start-->
  <section class="why_choose">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="choose_detail">
            <h1>Why Choose Us</h1>
          </div>
          <div class="plan_box">
            <div class="plan_number">
              <h2>01.</h2>
            </div>
            <div class="plan_detail">
              <h3>Low Prices</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie ante at justo.</p>
            </div>
          </div>
          <div class="plan_box">
            <div class="plan_number">
              <h2>02.</h2>
            </div>
            <div class="plan_detail">
              <h3>High Quality Gtms</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie ante at justo.</p>
            </div>
          </div>
          <div class="plan_box">
            <div class="plan_number">
              <h2>03.</h2>
            </div>
            <div class="plan_detail">
              <h3>Open All Day, Every Day</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie ante at justo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container-skills">
          <div class="progress_box">
        <ul class='skills'>
            <li class='progressbar1'   data-width='90' data-target='90' data-percentage="90%">Gym </li>
            <li class='progressbar1'   data-width='70' data-target='85' data-percentage="85%">YOGA</li>
            <li class='progressbar1'   data-width='90' data-target='95' data-percentage="95%">BUILD BODY</li>
            <li class='progressbar1'   data-width='70' data-target='80' data-percentage="80%">MARTIAL ARTS</li>
        </ul>


		 </div>
				</div>
        </div>
      </div>
    </div>
  </section>
  <!-- why choose us end-->



  <!-- Video start -->
  <section class="video_sec">
    <div class="container-fluid">
      <div class="row"> <a class="video-link" href="../../../../../external.html?link=https://www.youtube.com/embed/AulGwjIv3m8" data-width="550" data-height="350"> <img src="assets/images/play.png" alt=""> </a>
        <h2>Explore Fitness Complex </h2>
        <h2 class="orange_text">Watch now </h2>
      </div>
    </div>
  </section>
  <!-- Video end -->


{% endblock %}