{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="page-wrapper blogpage2">
  <!-- Preloader -->
  <div class="preloader"></div>
  <!-- Preloader -->


  <!-- Page_banner start -->
  <section class="breadcrumb_sec">
    <div class="container">
      <div class="row">
        <div class="blog_txt wow fadeIn animated" data-wow-delay="1s" data-wow-duration="1000ms">
          <h1 class="wow fadeInUp animated title_animate"> Classes </h1>
          <h3 class="wow fadeInUp animated titlep_animate"> Building A Community of Fitness Athletic </h3>
        </div>
      </div>
    </div>
    <p class="breadcrumb1"><span> <a href="{% url 'customer_courses' %}">Click tO View Registered Courses</a> </span></p>
  </section>
  <!-- Page_banner end -->

  <!-- Classes start-->
  <section class="classes">
    <div class="container">
      <div class="row">

          {% for course in course %}
          <div class="col-md-4 col-sm-6">
              <div class="classes_box">

                <div class="classes_img"> <img class="img-responsive" src="{{ course.image.url }}" alt="" width="500px"> </div>
                <div class="classes_detail">
                  <h3>{{ course.cname }}</h3>

                  <p class="read_more"><a href="{% url 'single' course.id %}" class="classes_more">Click for more informationn</a></p>
                </div>
              </div>
         </div>
          {% endfor %}



      </div>
    </div>
  </section>
  <!-- Classes end-->
</div>

{% endblock %}