{% extends 'base.html' %}
{% block content %}{% load static %}
    <div class="page-wrapper blogpage2">
  <!-- Preloader -->
  <div class="preloader"></div>
  <!-- Preloader -->

    <!-- Page_banner start -->
  <section class="breadcrumb_sec">
    <div class="container">
      <div class="row">
        <div class="blog_txt wow fadeIn animated" data-wow-delay="1s" data-wow-duration="1000ms">
          <h1 class="wow fadeInUp animated title_animate"> RESOURCES </h1>
          <h3 class="wow fadeInUp animated titlep_animate"> Building A Community of Fitness Athletic </h3>
        </div>
      </div>
    </div>
    <p class="breadcrumb1"><span> Home / case studies </span></p>
  </section>
  <!-- Page_banner end -->
    <!-- Blog start -->
  <div class="blog_main_sec">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-xs-12 blog_left">
          <article class="blog_detail wow fadeInUp animated" data-wow-delay="1s" data-wow-duration="1000ms">
            <div class="blog_main_img"><a href="https://www.perfectgym.com/en/blog/case-studies/case-study-fitness-one-arkansas-usa"><img class="img-responsive" src="{% static 'images/b1.jpg' %}" alt=""></a> </div>
            <div class="blog_intro col-sm-12 col-md-12">
              <div class="row">
                <div class="blog_date col-sm-2 cop-md-2 col-xs-3">
                  <p><span> 12 </span></p>
                  <p> APRIL</p>
                </div>
                <div class="blog_intro_title col-sm-10 cop-md-10 col-xs-9">
                  <h3 class="blog_title"><a href="https://www.perfectgym.com/en/blog/case-studies/case-study-fitness-one-arkansas-usa">Fitness One in Arkansas, USA </a></h3>
                  <p> Posted by <span class="orange_text"><a href="#">Sarath sathyan</a></span> in <span class="orange_text"><a href="#">General</a></span></p>
                </div>
              </div>
            </div>
            <p class="blog_pera">As the Chief Technology Officer of Arkansas’ Fitness One clubs, Jake Curreri understands better than anyone the dire need for technological advancement in the fitness industry. Read all about how Fitness One in the United States has embraced digitally transforming their clubs with Perfect Gym's platform</p>
            <div class="read_social col-sm-12 col-xs-12">
              <div class="row">
                <div class="pull-left"><a href="https://www.perfectgym.com/en/blog/case-studies/case-study-fitness-one-arkansas-usa"> Read more <i class="fa fa-angle-right" aria-hidden="true"></i> </a></div> </div>
            </div>
          </article>
          <article class="blog_detail wow fadeInUp animated" data-wow-delay="1s" data-wow-duration="1000ms">
            <div class="blog_main_img"><a href="blog_detail.html"><img class="img-responsive" src="{% static 'images/24.png' %}" alt=""></a> </div>
            <div class="blog_intro col-sm-12 col-md-12">
              <div class="row">
                <div class="blog_date col-sm-2 cop-md-2 col-xs-3">
                  <p><span> 12 </span></p>
                  <p> APRIL</p>
                </div>
                <div class="blog_intro_title col-sm-10 cop-md-10 col-xs-9">
                  <h3 class="blog_title"><a href="blog_detail.html">Ciudad Jardin Fitness24Seven Franchise in Colombia </a></h3>
                  <p> Posted by <span class="orange_text"><a href="#">Sarath Sathyan</a></span> in <span class="orange_text"><a href="#">General</a></span></p>
                </div>
              </div>
            </div>
            <p class="blog_pera">Entering the Colombian fitness market, Fitness 24 Seven gym set out to give their new members personalized and convenient experiences. Learn more about how they achieved it. </p>
            <div class="read_social col-sm-12 col-xs-12">
              <div class="row">
                <div class="pull-left"><a href="blog_detail.html"> Read more <i class="fa fa-angle-right" aria-hidden="true"></i> </a></div>

              </div>
            </div>
          </article>
          <article class="blog_detail wow fadeInUp animated" data-wow-delay="1s" data-wow-duration="1000ms">
            <div class="blog_main_img"><a href="https://www.perfectgym.com/en/blog/case-studies/case-study-il-fiore-health-centers-netherlands"><img class="img-responsive" src="{% static 'images/fit.jpg' %}" alt=""></a> </div>
            <div class="blog_intro col-sm-12 col-md-12">
              <div class="row">
                <div class="blog_date col-sm-2 cop-md-2 col-xs-3">
                  <p><span> 12 </span></p>
                  <p> APRIL</p>
                </div>
                <div class="blog_intro_title col-sm-10 cop-md-10 col-xs-9">
                  <h3 class="blog_title"><a href="https://www.perfectgym.com/en/blog/case-studies/case-study-il-fiore-health-centers-netherlands">il fiore Health Centers in the Netherlands </a></h3>
                  <p> Posted by <span class="orange_text"><a href="#">Sarath Sathyan</a></span> in <span class="orange_text"><a href="#">General</a></span></p>
                </div>
              </div>
            </div>
            <p class="blog_pera">Entering the Colombian fitness market, Fitness 24 Seven gym set out to give their new members personalized and convenient experiences. Learn more about how they achieved it.  </p>
            <div class="read_social col-sm-12 col-xs-12">
              <div class="row">
                <div class="pull-left"><a href="https://www.perfectgym.com/en/blog/case-studies/case-study-ciudad-jardin-fitness24seven-franchise-colombia"> Read more <i class="fa fa-angle-right" aria-hidden="true"></i> </a></div> </div>
            </div>
          </article>
        </div>
        <div class="col-sm-12 col-md-4 col-xs-12 blog_right">

          <article class="Categories_blog wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1000ms">
            <h3 class="blog_title"> Categories </h3>
            <ul class="Categories">
              <li class="cat_list "><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i>Fitness </span> <span class="blog_no pull-right">8 </span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Yoga </span> <span class="blog_no pull-right">10 </span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Fat Loss </span> <span class="blog_no pull-right">3</span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Weight Gain </span> <span class="blog_no pull-right">7</span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Cardio</span> <span class="blog_no pull-right">9 </span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Running </span> <span class="blog_no pull-right">12 </span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Goal </span> <span class="blog_no pull-right">11 </span></a> </li>
              <!-- <li class="cat_list"><a href="#"> <span class="cat_name"><i class="fa fa-circle" aria-hidden="true"></i> Stretching</span>

							<span class="blog_no pull-right">8 </span></a>
						</li> -->
              <!-- <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Gym </span>

							<span class="blog_no pull-right">2 </span></a>
						</li> -->
            </ul>
          </article>


          <article class="tags_blog col-sm-12 col-xs-12 colmd-12 wow zoomIn animated" data-wow-delay="900ms" data-wow-duration="1000ms">
            <h3 class="blog_title"> Popular tags </h3>
            <ul class="tag_list">
              <li class="tags"> <a href="#">Yoga Center </a></li>
              <li class="tags"> <a href="#">Tranning </a></li>
              <li class="tags"> <a href="#">Fat Loss </a></li>
              <li class="tags"> <a href="#">Weight Gain </a> </li>
              <li class="tags "> <a href="#">Fitness </a></li>
              <li class="tags"> <a href="#">Running </a></li>
              <li class="tags"> <a href="#">Gym </a></li>
              <li class="tags"> <a href="#">Cardio </a> </li>
              <li class="tags"> <a href="#">stretching </a> </li>
              <li class="tags"> <a href="#">Workout </a> </li>
              <li class="tags"> <a href="#">Bodybulding </a> </li>
              <li class="tags"> <a href="#">Bicep </a> </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog end -->

    </div>
{% endblock %}