{% extends 'base.html' %}
{% block content %}{% load static %}
    <style>
    .orange_text{
        color: #f27920;
        transition: all ease 0.5s 0s;
    }
    </style>
    <div class="page-wrapper blogpage2">
  <!-- Preloader -->
  <div class="preloader"></div>
  <!-- Preloader -->

    <!-- Page_banner start -->
  <section class="breadcrumb_sec">
    <div class="container">
      <div class="row">
        <div class="blog_txt wow fadeIn animated" data-wow-delay="1s" data-wow-duration="1000ms">
          <h1 class="wow fadeInUp animated title_animate"> Diet Tips  </h1>
          <h3 class="wow fadeInUp animated titlep_animate"> Building A Community of Fitness Athletic </h3>
        </div>
      </div>
    </div>
    <p class="breadcrumb1"><span> Home / case studies </span></p>
  </section>
  <!-- Page_banner end -->
    <!-- Blog start -->
  <div class="blog_main_sec">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-xs-12 blog_left">
          <article class="blog_detail wow fadeInUp animated" data-wow-delay="1s" data-wow-duration="1000ms">
            <div class="blog_main_img"><a href="#"><img class="img-responsive" src="{% static 'images/diets.jpg' %}" alt=""></a> </div>
            <div class="blog_intro col-sm-12 col-md-12">
              <div class="row">
                <div class="blog_date col-sm-2 cop-md-2 col-xs-3">
                  <p><span> 1 </span></p>
                  <p> Protien</p>
                </div>
                <div class="blog_intro_title col-sm-10 cop-md-10 col-xs-9">
                    <h3 class="blog_title"><span class="orange_text a">Diet Tips</span></h3>
                    <p><span class="orange_text">To build lean muscle mass and get a flqat belly, what you eat is as important as how you excercise</span></p>
                </div>
              </div>
            </div>
            <p class="blog_pera">If you don’t eat enough protein – red and white meat, fish and eggs – then don’t be surprised when you don’t add muscle as fast as you want. Lifting weights causes microscopic tears in your muscles, and it’s the consumption of protein that repairs this damage and rebuilds your muscles bigger and stronger. Aim for at least a fist-sized portion of high-quality lean protein at every meal.</p>
          </article>
          <article class="blog_detail wow fadeInUp animated" data-wow-delay="1s" data-wow-duration="1000ms">
            <div class="blog_main_img"><a href=""><img class="img-responsive" src="{% static 'images/cabs.jpg' %}" alt=""></a> </div>
            <div class="blog_intro col-sm-12 col-md-12">
              <div class="row">
                <div class="blog_date col-sm-2 cop-md-2 col-xs-3">
                  <p><span> 2 </span></p>
                  <p> carbs</p>
                </div>
                <div class="blog_intro_title col-sm-10 cop-md-10 col-xs-9">
                  <h3 class="blog_title orange_text">Diet Tips</h3>
                  <p><span class="orange_text">Start Your Day With A Workout. Set up your alarm 20 minutes early and schedule your workout first thing in the morning</span> </p>
                </div>
              </div>
            </div>
            <p class="blog_pera">You don’t need to cut out carbs altogether to transform your body, but making smarter carb choices will help you get bigger, stronger and leaner. Avoid sugar and limit consumption of fast-release carbs like processed white bread and pasta, which have been stripped of many of their nutrients and fiber. Instead choose slow-release carbs, such as sweet potatoes and brown rice, as well as plenty of fiber-rich, nutrient-dense veg. </p>

          </article>
          <article class="blog_detail wow fadeInUp animated" data-wow-delay="1s" data-wow-duration="1000ms">
            <div class="blog_main_img"><a href=""><img class="img-responsive" src="{% static 'images/veg.jpg' %}" alt=""></a> </div>
            <div class="blog_intro col-sm-12 col-md-12">
              <div class="row">
                <div class="blog_date col-sm-2 cop-md-2 col-xs-3">
                  <p><span> 3 </span></p>
                  <p> vegitables</p>
                </div>
                <div class="blog_intro_title col-sm-10 cop-md-10 col-xs-9">
                  <h3 class="blog_title orange_text">Diet Tips</h3>
                  <p><span class="orange_text">You will likely lose weight on any diet if you eat less than 910 calories a day. But losing 10 pounds in 3 days is both unlikely and unhealthy. </span> </p>
                </div>
              </div>
            </div>
            <p class="blog_pera"> If you struggle to get your daily five-a-day then you’re missing out on a wealth of vitamins, minerals and other nutrients essential to both better health and getting leaner. Eat a wide variety of different-colored veg to give your body the nutrients it needs after hard training, as well as fiber to keep you feeling fuller for longer and stabilize blood sugar levels so you won’t be tempted by sweet snacks.</p>

          </article>
        </div>
        <div class="col-sm-12 col-md-4 col-xs-12 blog_right">

          <article class="Categories_blog wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1000ms">
            <h3 class="blog_title"> Categories </h3>
            <ul class="Categories">
              <li class="cat_list "><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i>Fitness </span> <span class="blog_no pull-right">8 </span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Yoga </span> <span class="blog_no pull-right">10 </span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Fat Loss </span> <span class="blog_no pull-right">3</span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Weight Gain </span> <span class="blog_no pull-right">7</span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Cardio</span> <span class="blog_no pull-right">9 </span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Running </span> <span class="blog_no pull-right">12 </span></a> </li>
              <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Goal </span> <span class="blog_no pull-right">11 </span></a> </li>
              <!-- <li class="cat_list"><a href="#"> <span class="cat_name"><i class="fa fa-circle" aria-hidden="true"></i> Stretching</span>

							<span class="blog_no pull-right">8 </span></a>
						</li> -->
              <!-- <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-circle" aria-hidden="true"></i> Gym </span>

							<span class="blog_no pull-right">2 </span></a>
						</li> -->
            </ul>
          </article>


          <article class="tags_blog col-sm-12 col-xs-12 colmd-12 wow zoomIn animated" data-wow-delay="900ms" data-wow-duration="1000ms">
            <h3 class="blog_title"> Popular tags </h3>
            <ul class="tag_list">
              <li class="tags"> <a href="#">Yoga Center </a></li>
              <li class="tags"> <a href="#">Tranning </a></li>
              <li class="tags"> <a href="#">Fat Loss </a></li>
              <li class="tags"> <a href="#">Weight Gain </a> </li>
              <li class="tags "> <a href="#">Fitness </a></li>
              <li class="tags"> <a href="#">Running </a></li>
              <li class="tags"> <a href="#">Gym </a></li>
              <li class="tags"> <a href="#">Cardio </a> </li>
              <li class="tags"> <a href="#">stretching </a> </li>
              <li class="tags"> <a href="#">Workout </a> </li>
              <li class="tags"> <a href="#">Bodybulding </a> </li>
              <li class="tags"> <a href="#">Bicep </a> </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog end -->

    </div>
{% endblock %}