{% extends 'base.html' %}

{% block content %}
    {% load static %}


<section class="classes" xmlns="http://www.w3.org/1999/html">
<div class="container">
<div class="row">
    <div class="col-md-12">
          <div class="classes_box">
            <div class="classes_img"> <img class="img-responsive" src="{{ data.image.url }}" alt=""> </div>

            <div class="classes_detail">
              <h3>{{ data.cname }}</h3>
                <h3>Price : {{ data.price }}</h3>
              <p> {{ data.description }} </p>
            </div>
          </div>
        </div>
</div>
</div>
</section>
<section class="container">
{% include 'partials/_alerts.html' %}
<h3 style=" color: #ee6c0c;">
    Register for this workout ?
</h3><br>
<form method="POST" class="fom-group" enctype="multipart/form-data"  >
    {% csrf_token %}
Course :
<input type="text" value="{{ data.cname }}" class="text" name="event" readonly><br>
Name* :
    <input type="text" value="{{ user.first_name }}" class="text" name="name" readonly><br>

Email* :
    <input type="text" value="{{ user.email }}" class="text" name="email" readonly><br>


State* :
                    <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" required></select>
                    <br>
City* :
                    <select id ="state" class="form-control" name="district" required></select>
                    <script language="javascript">print_state("sts");</script>
Address* :
<input type="text" name="address" class="form-control" required><br>
<input class="btn btn-success color" type="submit" name="submit" id="submit" value="Submit" style="float: right; margin-top: 3px;margin-bottom:-5px;width: 100px">
</form>
</section>

{% endblock %}
